  
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 73, 73);
  }

  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
  
body {
    background-color: lightblue;
}

#calc {
    width: 400px;
    background-color: black;
    margin: 40px auto;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
  }
  
  .button {
    border: 3px solid black;
    background-color: lightgrey;
    height: 70px;
    line-height: 70px;
    font-size: 1.2em;
    font-family: 'Revalia', cursive;
    border-radius: 7px;
  }
  .button:hover {
    background-color: grey;
    color: yellow;
  }

  #display {
    font-size: 1.1em;
    text-align: right;
    grid-area: screen;
    color: rgb(173, 188, 230);
    font-family: Digits, serif;
    padding: 15px 20px 0 20px;
    overflow: scroll;
    font-family: 'Roboto Mono', monospace;

  }
  #screen-result {
    text-align: right;
    padding: 20px 20px 0 20px;
    font-size: 2em;
    grid-area: screenresult;
    font-family: Digits, serif;
    color: lightgoldenrodyellow;
    overflow: scroll;
    font-family: 'Roboto Mono', monospace;
  }
 
#clear {
    grid-area: ac;
    background-color: lightsalmon;
}
#clear:hover {
    background-color: rgb(235, 131, 91);
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#zero {
    grid-area: zero;
}
#divide {
    grid-area: divide;
    background-color: #bac8fd;
}
#divide:hover {
    background-color: #6b7dbd;
}
#multiply {
    grid-area: multiply;
    background-color: #bac8fd;
}
#multiply:hover {
    background-color: #6b7dbd;
}
#subtract {
    grid-area: subtract;
    background-color: #bac8fd;
}
#subtract:hover {
    background-color: #6b7dbd;
}
#add {
    grid-area: add;
    background-color: #bac8fd;
}
#add:hover {
    background-color: #6b7dbd;
}
#decimal {
    grid-area: decimal;
    background-color: #bac8fd;
}
#decimal:hover {
    background-color: #6b7dbd;
}
#equals {
    height: 146px;
    line-height: 146px;
    grid-area: equals;
    background-color: lightgreen;
}
#equals:hover {
    background-color: rgb(74, 175, 74);
}
.grid-container {
    display: grid;
    grid-template-areas:
    'screen screen screen screen'
    'screenresult screenresult screenresult screenresult'
    'ac ac divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'zero zero decimal equals';
} 

footer {
    text-align: center;
    font-size: 1.2em;
    line-height: 0.5em;
    padding-top: 30px;
}
#credits {
    font-size: 0.9em;
}